{
    "extends": [
        "@antfu",
        "./.eslintrc-auto-import.json"
    ],
    "rules": {
        "quotes": [
            "error",
            "double"
        ],
        "semi": "off"
    }
}
